; config file for taplist.py
[default]
side = 1
data_source = 0
renew_period = 5000
window_title = "Taplist - Let's Beer Brewpub"
logo_path = 'img/logo_w.png'
notic_0 = 生啤尝味套装 150mL × 4杯 任选 ￥68/组 (不重复)
notic_1 = 会员年费299，享全年88折

[wx]
envid = 
appid = 
secret = 

[mongodb]
url = 

[mysql]
db_host = localhost
db_user = root
db_pass = 
db_name = 
